export(plotPolarSegment)
export(importFieldData)
export(setBranchesCM)
export(switchBranchPruningStatus)
export(treeBiomass)
export(treeVectors)
export(treeSC)
export(centreOfMass)
export(plot.vectors)
export(plot.SC)
export(summary.CM)
export(allometryCutini2009)
export(allometryPorte2002)
export(allometryAsca2011)
