export(allometryCutini2009)
export(allometryPorte2002)
export(allometryAsca2011)
export(treeBiomass)
export(centreOfMass)
export(summary.CM)
export(treeSR)
export(plot.SR)
export(plotPolarSegment)
export(importFieldData)
export(setBranchesCM)
export(switchBranchPruningStatus)
export(treeVectors)
export(plot.vectors)
